<div class="col-md-4">
    <h4><u>Staude information:</u></h4>
    <div class="form-group col-md-12">
        <label class="control-label">Slægt*:</label><input ng-model="product.genus" class="form-control" required/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Art:</label><input ng-model="product.epithet" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Sort:</label><input ng-model="product.cultivar" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Højde min:</label><input type="number" ng-model="product.heightMin" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label class="control-label">Højde max:</label><input type="number" ng-model="product.heightMax" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Blomstring start:</label><input ng-model="product.flowerStart" class="form-control"/>
            </div>
            <div class="col-md-6">
                <label class="control-label">Blomstring slut:</label><input ng-model="product.flowerEnd" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Farve:</label><input ng-model="product.color" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Jordbund:</label><input ng-model="product.soil" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Placering:</label><input ng-model="product.location" class="form-control"/>
    </div>
    <div class="form-group col-md-12">
        <label class="control-label">Specielle egenskaber:</label><input ng-model="product.specialProperty" class="form-control"/>
    </div>
</div>
